@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);






body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Open Sans', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Open Sans', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Open Sans', sans-serif;
}
.mbr-author-desc {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Open Sans', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #a38f84 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #a38f84;
  border-color: #a38f84;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #7d695d;
  border-color: #7d695d;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #7d695d !important;
  border-color: #7d695d !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #6e5c53;
  color: #6e5c53;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #a38f84;
  border-color: #a38f84;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #a38f84 !important;
  border-color: #a38f84 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #a38f84 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #a38f84;
}
.btn-social:hover {
  background: #a38f84;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #a38f84;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #a38f84;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #a38f84;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #a38f84;
}
.lead a,
.lead a:hover {
  color: #a38f84;
}
.lead blockquote {
  border-color: #a38f84;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #dad1cd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #a38f84;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
}
#menu-0 .navbar-toggler {
  color: #b8312f;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #b8312f;
  font-family: 'Open Sans', sans-serif;
}
#menu-0 .link {
  font-size: 1rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #a38f84;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #e6e6e6;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-0 .bg-color.transparent .link {
  color: #b8312f;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #a38f84;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #a38f84!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #b8312f;
}
#header1-1 .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
}
#header1-1 .mbr-section-lead {
  font-family: 'Open Sans', sans-serif;
}
#header1-1 .mbr-section-lead B {
  color: #ffffff;
}
#footer1-c SPAN {
  color: #ffffff;
}
#form1-1v .form-control-label {
  color: #232323;
}
#form1-1v .mbr-section-title {
  color: #7c706b;
}




#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
}
#menu-0 .navbar-toggler {
  color: #f97352;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #f97352;
  font-family: 'Open Sans', sans-serif;
}
#menu-0 .link {
  font-size: 1rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #a38f84;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #e6e6e6;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-0 .bg-color.transparent .link {
  color: #f97352;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #a38f84;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #a38f84!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #f97352;
}
#footer1-1 SPAN {
  color: #ffffff;
}
#header3-5 .mbr-section-title,
#header3-5 .mbr-section-subtitle {
  text-align: center;
}
#header3-5 H3 {
  font-family: 'Open Sans', sans-serif;
}
#header3-5 SMALL {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
}
#header3-5 SPAN {
  color: #7c706b;
}
#content1-6 DIV {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: left;
}




#menu-7 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-7 .navbar-caption {
  color: #ffffff;
}
#menu-7 .navbar-toggler {
  color: #f97352;
}
#menu-7 .link,
#menu-7 .dropdown-item {
  color: #f97352;
  font-family: 'Open Sans', sans-serif;
}
#menu-7 .link {
  font-size: 1rem;
}
#menu-7 .dropdown-item,
#menu-7 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-7 .link:hover,
#menu-7 .dropdown-item:hover,
#menu-7 .link:focus,
#menu-7 .dropdown-item:focus {
  color: #a38f84;
}
#menu-7 .link[aria-expanded="true"],
#menu-7 .dropdown-menu {
  background: #e6e6e6;
}
#menu-7 .nav-dropdown-sm .link:focus,
#menu-7 .nav-dropdown-sm .link:hover,
#menu-7 .nav-dropdown-sm .dropdown-item:focus,
#menu-7 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-7 .navbar,
#menu-7 .nav-dropdown-sm,
#menu-7 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-7 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-7 .bg-color.transparent .link {
  color: #f97352;
  transition: none;
}
#menu-7 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-7 .bg-color.transparent.opened .link:hover,
#menu-7 .bg-color.transparent.opened .link:focus {
  color: #a38f84;
}
#menu-7 .link[aria-expanded="true"],
#menu-7 .dropdown-item[aria-expanded="true"] {
  color: #a38f84!important;
}
#menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-7 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-7 .close-icon::before,
#menu-7 .close-icon::after {
  background-color: #f97352;
}
#footer1-8 SPAN {
  color: #ffffff;
}
#header3-9 .mbr-section-title,
#header3-9 .mbr-section-subtitle {
  text-align: center;
}
#header3-9 H3 {
  font-family: 'Open Sans', sans-serif;
}
#header3-9 SMALL {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
}
#header3-9 SPAN {
  color: #7c706b;
}
#content1-a DIV {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: left;
}




#menu-b .hide-buttons .nav-btn {
  display: none !important;
}
#menu-b .navbar-caption {
  color: #ffffff;
}
#menu-b .navbar-toggler {
  color: #f97352;
}
#menu-b .link,
#menu-b .dropdown-item {
  color: #f97352;
  font-family: 'Open Sans', sans-serif;
}
#menu-b .link {
  font-size: 1rem;
}
#menu-b .dropdown-item,
#menu-b .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-b .link:hover,
#menu-b .dropdown-item:hover,
#menu-b .link:focus,
#menu-b .dropdown-item:focus {
  color: #a38f84;
}
#menu-b .link[aria-expanded="true"],
#menu-b .dropdown-menu {
  background: #e6e6e6;
}
#menu-b .nav-dropdown-sm .link:focus,
#menu-b .nav-dropdown-sm .link:hover,
#menu-b .nav-dropdown-sm .dropdown-item:focus,
#menu-b .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-b .navbar,
#menu-b .nav-dropdown-sm,
#menu-b .nav-dropdown-sm .link[aria-expanded="true"],
#menu-b .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-b .bg-color.transparent .link {
  color: #f97352;
  transition: none;
}
#menu-b .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-b .bg-color.transparent.opened .link:hover,
#menu-b .bg-color.transparent.opened .link:focus {
  color: #a38f84;
}
#menu-b .link[aria-expanded="true"],
#menu-b .dropdown-item[aria-expanded="true"] {
  color: #a38f84!important;
}
#menu-b.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-b .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-b .close-icon::before,
#menu-b .close-icon::after {
  background-color: #f97352;
}
#footer1-c SPAN {
  color: #ffffff;
}
#header3-d .mbr-section-title,
#header3-d .mbr-section-subtitle {
  text-align: center;
}
#header3-d H3 {
  font-family: 'Open Sans', sans-serif;
}
#header3-d SMALL {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
}
#header3-d SPAN {
  color: #7c706b;
}
#content1-e DIV {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: left;
}

#menu-f .hide-buttons .nav-btn {
  display: none !important;
}
#menu-f .navbar-caption {
  color: #ffffff;
}
#menu-f .navbar-toggler {
  color: #b8312f;
}
#menu-f .link,
#menu-f .dropdown-item {
  color: #b8312f;
  font-family: 'Open Sans', sans-serif;
}
#menu-f .link {
  font-size: 1rem;
}
#menu-f .dropdown-item,
#menu-f .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-f .link:hover,
#menu-f .dropdown-item:hover,
#menu-f .link:focus,
#menu-f .dropdown-item:focus {
  color: #a38f84;
}
#menu-f .link[aria-expanded="true"],
#menu-f .dropdown-menu {
  background: #e6e6e6;
}
#menu-f .nav-dropdown-sm .link:focus,
#menu-f .nav-dropdown-sm .link:hover,
#menu-f .nav-dropdown-sm .dropdown-item:focus,
#menu-f .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-f .navbar,
#menu-f .nav-dropdown-sm,
#menu-f .nav-dropdown-sm .link[aria-expanded="true"],
#menu-f .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-f .bg-color.transparent .link {
  color: #b8312f;
  transition: none;
}
#menu-f .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-f .bg-color.transparent.opened .link:hover,
#menu-f .bg-color.transparent.opened .link:focus {
  color: #a38f84;
}
#menu-f .link[aria-expanded="true"],
#menu-f .dropdown-item[aria-expanded="true"] {
  color: #a38f84!important;
}
#menu-f.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-f .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-f .close-icon::before,
#menu-f .close-icon::after {
  background-color: #b8312f;
}
#footer1-13 SPAN {
  color: #ffffff;
}
#slider-32 H2 {
  text-align: right;
}
#slider-32 P {
  text-align: right;
  font-size: 18px;
}




#menu-1c .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1c .navbar-caption {
  color: #ffffff;
}
#menu-1c .navbar-toggler {
  color: #b8312f;
}
#menu-1c .link,
#menu-1c .dropdown-item {
  color: #b8312f;
  font-family: 'Open Sans', sans-serif;
}
#menu-1c .link {
  font-size: 1rem;
}
#menu-1c .dropdown-item,
#menu-1c .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-1c .link:hover,
#menu-1c .dropdown-item:hover,
#menu-1c .link:focus,
#menu-1c .dropdown-item:focus {
  color: #a38f84;
}
#menu-1c .link[aria-expanded="true"],
#menu-1c .dropdown-menu {
  background: #e6e6e6;
}
#menu-1c .nav-dropdown-sm .link:focus,
#menu-1c .nav-dropdown-sm .link:hover,
#menu-1c .nav-dropdown-sm .dropdown-item:focus,
#menu-1c .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-1c .navbar,
#menu-1c .nav-dropdown-sm,
#menu-1c .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1c .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-1c .bg-color.transparent .link {
  color: #b8312f;
  transition: none;
}
#menu-1c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1c .bg-color.transparent.opened .link:hover,
#menu-1c .bg-color.transparent.opened .link:focus {
  color: #a38f84;
}
#menu-1c .link[aria-expanded="true"],
#menu-1c .dropdown-item[aria-expanded="true"] {
  color: #a38f84!important;
}
#menu-1c.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1c .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1c .close-icon::before,
#menu-1c .close-icon::after {
  background-color: #b8312f;
}
#footer1-1d SPAN {
  color: #ffffff;
}
#header3-1e .mbr-section-title,
#header3-1e .mbr-section-subtitle {
  text-align: center;
}
#header3-1e H3 {
  font-family: 'Open Sans', sans-serif;
}
#header3-1e SMALL {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
}
#header3-1e SPAN {
  color: #7c706b;
}
#content1-1f DIV {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: left;
}


#menu-1n .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1n .navbar-caption {
  color: #ffffff;
}
#menu-1n .navbar-toggler {
  color: #b8312f;
}
#menu-1n .link,
#menu-1n .dropdown-item {
  color: #b8312f;
  font-family: 'Open Sans', sans-serif;
}
#menu-1n .link {
  font-size: 1rem;
}
#menu-1n .dropdown-item,
#menu-1n .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-1n .link:hover,
#menu-1n .dropdown-item:hover,
#menu-1n .link:focus,
#menu-1n .dropdown-item:focus {
  color: #a38f84;
}
#menu-1n .link[aria-expanded="true"],
#menu-1n .dropdown-menu {
  background: #e6e6e6;
}
#menu-1n .nav-dropdown-sm .link:focus,
#menu-1n .nav-dropdown-sm .link:hover,
#menu-1n .nav-dropdown-sm .dropdown-item:focus,
#menu-1n .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-1n .navbar,
#menu-1n .nav-dropdown-sm,
#menu-1n .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1n .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-1n .bg-color.transparent .link {
  color: #b8312f;
  transition: none;
}
#menu-1n .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1n .bg-color.transparent.opened .link:hover,
#menu-1n .bg-color.transparent.opened .link:focus {
  color: #a38f84;
}
#menu-1n .link[aria-expanded="true"],
#menu-1n .dropdown-item[aria-expanded="true"] {
  color: #a38f84!important;
}
#menu-1n.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1n .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1n .close-icon::before,
#menu-1n .close-icon::after {
  background-color: #b8312f;
}
#footer1-1o SPAN {
  color: #ffffff;
}
#gallery3-20 LI {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

#msg-box8-26 .mbr-section-title,
#msg-box8-26 p {
  color: #fff;
}
#msg-box8-26 .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
#header3-24 .mbr-section-title,
#header3-24 .mbr-section-subtitle {
  text-align: center;
}
#header3-24 H3 {
  text-align: right;
  color: #b8312f;
  font-size: 36px;
}
#header3-29 .mbr-section-title,
#header3-29 .mbr-section-subtitle {
  text-align: center;
}
#header3-29 H3 {
  color: #b8312f;
  text-align: right;
  font-size: 36px;
}
#menu-12 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-12 .navbar-caption {
  color: #ffffff;
}
#menu-12 .navbar-toggler {
  color: #b8312f;
}
#menu-12 .link,
#menu-12 .dropdown-item {
  color: #b8312f;
  font-family: 'Open Sans', sans-serif;
}
#menu-12 .link {
  font-size: 1rem;
}
#menu-12 .dropdown-item,
#menu-12 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-12 .link:hover,
#menu-12 .dropdown-item:hover,
#menu-12 .link:focus,
#menu-12 .dropdown-item:focus {
  color: #a38f84;
}
#menu-12 .link[aria-expanded="true"],
#menu-12 .dropdown-menu {
  background: #e6e6e6;
}
#menu-12 .nav-dropdown-sm .link:focus,
#menu-12 .nav-dropdown-sm .link:hover,
#menu-12 .nav-dropdown-sm .dropdown-item:focus,
#menu-12 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-12 .navbar,
#menu-12 .nav-dropdown-sm,
#menu-12 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-12 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-12 .bg-color.transparent .link {
  color: #b8312f;
  transition: none;
}
#menu-12 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-12 .bg-color.transparent.opened .link:hover,
#menu-12 .bg-color.transparent.opened .link:focus {
  color: #a38f84;
}
#menu-12 .link[aria-expanded="true"],
#menu-12 .dropdown-item[aria-expanded="true"] {
  color: #a38f84!important;
}
#menu-12.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-12 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-12 .close-icon::before,
#menu-12 .close-icon::after {
  background-color: #b8312f;
}
#footer1-13 SPAN {
  color: #ffffff;
}
#header3-2a .mbr-section-title,
#header3-2a .mbr-section-subtitle {
  text-align: center;
}
#header3-2a H3 {
  color: #b8312f;
  font-size: 36px;
}
#header3-2c .mbr-section-title,
#header3-2c .mbr-section-subtitle {
  text-align: center;
}
#header3-2c H3 {
  color: #b8312f;
  font-size: 36px;
}
#header3-2e .mbr-section-title,
#header3-2e .mbr-section-subtitle {
  text-align: center;
}
#header3-2e H3 {
  color: #b8312f;
  font-size: 36px;
}
#header3-2g .mbr-section-title,
#header3-2g .mbr-section-subtitle {
  text-align: center;
}
#header3-2g H3 {
  color: #b8312f;
  font-size: 36px;
}
#header3-2i .mbr-section-title,
#header3-2i .mbr-section-subtitle {
  text-align: center;
}
#header3-2i H3 {
  color: #b8312f;
  font-size: 36px;
}
#header3-2k .mbr-section-title,
#header3-2k .mbr-section-subtitle {
  text-align: center;
}
#header3-2k H3 {
  color: #b8312f;
  font-size: 36px;
}
#header3-2m .mbr-section-title,
#header3-2m .mbr-section-subtitle {
  text-align: center;
}
#header3-2m H3 {
  color: #b8312f;
  font-size: 36px;
}
#header3-2o .mbr-section-title,
#header3-2o .mbr-section-subtitle {
  text-align: center;
}
#header3-2o H3 {
  color: #b8312f;
  font-size: 36px;
}
#header3-2q .mbr-section-title,
#header3-2q .mbr-section-subtitle {
  text-align: center;
}
#header3-2q H3 {
  color: #b8312f;
  font-size: 36px;
}
#header3-2s .mbr-section-title,
#header3-2s .mbr-section-subtitle {
  text-align: center;
}
#header3-2s H3 {
  color: #b8312f;
  font-size: 36px;
}
